.changePassword{
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputGroup{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-inline: 40px;
}

.inputGroup_label{
  font-size: 16px;
  font-weight: 400;
}

.inputGroup_input{
  padding: 5px;
  font-size: 24px;
  border: 0px;
  border-radius: 4px;
}

.button{
  padding: 16px;
  background-color: #0C0B0B;
  font-size: clamp(25px, 1.67vw, 32px);
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
  transition-duration: 0.3s;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 100px;
  padding: 60px 60px 87px 60px;
  max-width: 580px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.form_title{
  font-size: 36px;
  font-weight: 600;
}

.form_block{
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  width: 100%;
}

.form_text{
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}


@media (max-width:1023px){
  .inputGroup{
    padding-inline: 30px;
  }
  .form{
    padding: 40px;
    row-gap: 50px;
    max-width: 520px;
  }
}

@media (max-width:767px){
  .inputGroup{
    padding-inline: 10px;
    row-gap: 10px;
  }
}

@media (max-width:424px){
  .inputGroup{
    padding-inline: 0px;
  }
  .form{
    padding-inline: 20px;
    row-gap: 30px;
  }
  .form_block{
    row-gap: 20px;
  }
}

@media (hover: hover){
  .button:hover{
    background-color: #F20A0A;
    box-shadow: 0px 0px 10px 1px #bebebe;
  }
}