.loginBlock{
  padding: 100px 20px 20px;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm{
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  padding: 64px 68px 100px 68px;
  max-width: 520px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: var(--font-family-sfProDisplay);
}

.loginForm_title{
  text-align: center;
  font-family: var(--font-family-Impact);
  font-size: 36px;
  font-weight: 400;
}

.loginForm_group{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.loginForm_label{
  font-size: 16px;
  font-weight: 400;
}

.loginForm_input{
  padding: 16px;
  font-size: 24px;
  border: 0px;
  border-radius: 4px;
}

.loginForm_error{
  color: red;
}

.loginForm_actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 34px;
}

.loginForm_button{
  padding: 10px 28px;
  background-color: var(--main-color);
  color:currentColor;
  font-family: var(--font-family-Impact);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.3s;
}

.loginForm_link{
  padding: 5px;
  font-family: var(--font-family-Impact);
  font-size: 24px;
  font-weight: 400;
  transition-duration: 0.3s;
}

@media (max-width:1023px){
  .loginForm{
    padding: 50px;
    row-gap: 30px;
  }
  .loginForm_actions{
    row-gap: 20px;
  }
}

@media (max-width:767px){
  .loginForm{
    padding: 30px 20px;
  }
  .loginForm_input{
    padding: 7px;
  }
}

@media (max-width:424px){
  .loginForm_group{
    row-gap: 10px;
  }
  .loginForm{
    row-gap: 20px;
  }
  .loginForm_actions{
    row-gap: 10px;
  }
}

@media (hover: hover){
  .loginForm_link:hover{
    text-decoration:underline ;
  }
  .loginForm_button:hover{
    background-color: #832727;
  }
}