.headerBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0D0C0C80;
  padding: 30px 100px;
}

.header_logo{
  flex-shrink: 0;
  z-index: 22;
}

.controller_block{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.logo_block{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.controller_language{
  display: flex;
  gap: 14px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.controller_language_text{
  text-transform: uppercase;
  font-weight: 700;
}

.controller_avatar{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
}

.controller_avatarImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.controller_button {
  background-color: #F20A0A;
  text-transform: uppercase;
  color: currentColor;
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  border: none;
  padding: 10px 28px;
  cursor: pointer;
  transition-duration: 0.3s;
  outline: none;
}

.link_block{
  display: flex;
  gap: 10px;
}

.link_button{
  padding: 5px;
  font-size: 24px;
  font-weight: 700;
}

.link_buttonActive{
  text-decoration: underline;
}

.controller_svg{
  padding: 0px 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;  
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.headerLine {
  display: none;
  position: fixed;
  top: 0;
  left: -240px;
  width: 240px;
  height: 100%;
  background-color: #ff0000;
  transition: left 0.3s ease;
  z-index: 21;
  padding: 20px;
  padding-top: 70px;
}

.headerLineActive {
  left: 0;
}

.headerLine_list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.bigNone{
  display: none;
}

@media (max-width:1023px){
  .headerBlock{
    padding: 20px 50px;
  }
  .controller_block{
    gap: 24px;
  }
  .smallNone{
    display: none;
  }
  .bigNone{
    display: block;
  }
  .headerLine{
    display: block;
  }
}

@media (max-width:767px){
  .headerBlock{
    padding: 20px 20px 20px 30px;
  }
  .controller_block{
    gap: 12px;
  }
}

@media (max-width:424px){
  .controller_block{
    gap: 7px;
  }
  .controller_language{
    gap: 7px;
  }
}

@media (hover: hover){
  .controller_language:hover svg{
    color:#f20a0a;
  }
  .controller_button:hover{
    background-color: #832727;
  }
}