.page{
  position: relative;
}

.header{
  position: fixed;
  top: 0px;
  z-index: 20;
  width: 100%;
}

.main{
  flex: 1;
}

.footer{
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
}